Repository acaua/sesculto: changes, and which lefthook commands are due for each by the changed paths.
All: check, format

check:
  run: pnpm run lint:fix {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

feat: add astro-seo
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/pages/index.astro
Due: check, format

feat: cron job to fetch activities and save to R2 bucket, refactor to fetch from R2
  package.json
  pnpm-lock.yaml
  src/api/activities.ts
  src/api/branches.ts
  src/cloudflare/scheduled.ts
  src/index.ts
  tsconfig.json
  worker-configuration.d.ts
  wrangler.jsonc
Due: check, format

feat: large refactor, update client side API
  src/api/activities.ts
  src/api/categories.ts
  src/api/sesc/sescActivities.ts
  src/cloudflare/scheduled.ts
  src/components/Activities.tsx
  src/components/ActivityCard.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/BranchesFilter.tsx
  src/components/filterBar/CategoriesFilter.tsx
  src/components/filterBar/SearchBar.tsx
  src/components/filterBar/useFilterBarState.ts
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useBranches.ts
  wrangler.jsonc
Due: check, format

chore: large refactor to reorganize state and hooks
  src/api/activities.ts
  src/api/categories.ts
  src/api/sesc/sescActivities.ts
  src/components/Activities.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/BranchesFilter.tsx
  src/components/filterBar/CategoriesFilter.tsx
  src/components/filterBar/useFilterBarState.ts
  src/hooks/useActivities.ts
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useBranches.ts
  src/hooks/useCategories.ts
  src/hooks/useFuse.ts
Due: check, format

chore: refactor to use the IMAGE_DEFAULT_SIZE content
  src/api/activities.ts
  src/api/sesc/sescActivities.ts
  src/components/ActivityCard.tsx
Due: check, format

chore: move searchString state out of useFuse
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useFuse.ts
Due: check, format

chore: refactor code to use useSet hook for categories and branches
  src/components/Activities.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/BranchesFilter.tsx
  src/components/filterBar/CategoriesFilter.tsx
  src/components/filterBar/useFilterBarState.ts
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useSet.ts
Due: check, format

chore: refactor to remove default exports
  src/cloudflare/scheduled.ts
  src/components/Activities.tsx
  src/hooks/useActivities.ts
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useBranches.ts
  src/hooks/useCategories.ts
  src/hooks/useFuse.ts
  src/hooks/useSet.ts
  src/index.ts
  src/lib/queryClient.ts
  src/pages/index.astro
Due: check, format

chore: refactor for memoization and types
  src/components/ActivityCard.tsx
  src/hooks/useActivitiesFiltering.ts
Due: check, format

chore: upgrade Astro
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: format

chore: upgrade pkgs
  package.json
  pnpm-lock.yaml
Due: format

chore: refactor to remove useFilterBarState (TODO: debounce search)
  package.json
  pnpm-lock.yaml
  src/components/Activities.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/SearchBar.tsx
  src/components/filterBar/useFilterBarState.ts
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useSet.ts
Due: check, format

feat: debounce searchString
  package.json
  pnpm-lock.yaml
  src/components/Activities.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/SearchBar.tsx
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useDebouncedValue.ts
Due: check, format

feat: refactor fetching Branches and updating it in R2
  src/api/branches.ts
  src/api/sesc/sescBranches.ts
  src/cloudflare/scheduled.ts
  src/cloudflare/updateActivitiesAndCategories.ts
  src/cloudflare/updateBranches.ts
  src/components/Activities.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/BranchesFilter.tsx
  src/components/filterBar/SearchBar.tsx
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useBranches.ts
  src/index.ts
  worker-configuration.d.ts
  wrangler.jsonc
Due: check, format

feat: create hook useGroupedFilter based on useSet and refactor code to use it for branches
  src/components/Activities.tsx
  src/components/ActivityCard.tsx
  src/components/FilterBar.tsx
  src/components/filterBar/BranchesFilter.tsx
  src/hooks/useActivitiesFiltering.ts
  src/hooks/useGroupedFilter.ts
  src/hooks/useSet.ts
Due: check, format

chore: upgrade astro
  package.json
  pnpm-lock.yaml
Due: format

feat: add goat counter analytics
  astro.config.mjs
  src/layouts/Layout.astro
  wrangler.jsonc
Due: check, format

chore: update wrangler.jsonc
  wrangler.jsonc
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore: refactor Activities component
  src/components/Activities.tsx
Due: check, format

chore: project wide renaming refactor from "activity" to "event"
  README.md
  src/api/categories.ts
  src/api/events.ts
  src/api/sesc/sescActivities.ts
  src/api/sesc/sescEvents.ts
  src/cloudflare/scheduled.ts
  src/cloudflare/updateActivitiesAndCategories.ts
  src/cloudflare/updateEventsAndCategories.ts
  src/components/EventCard.tsx
  src/components/Events.tsx
  src/hooks/useEvents.ts
  src/hooks/useEventsFiltering.ts
  src/pages/index.astro
  worker-configuration.d.ts
Due: check, format

feat: Add infinite scrolling to events
  src/components/EventGrid.tsx
  src/components/Events.tsx
  src/hooks/useInfiniteScroll.ts
Due: check, format

Create LICENSE
  LICENSE
Due: none

feat: update README
  README.md
Due: format

feat: filter by date range
  package.json
  pnpm-lock.yaml
  src/api/events.ts
  src/api/sesc/sescEvents.ts
  src/components/DatePickerWithRange.tsx
  src/components/EventCard.tsx
  src/components/Events.tsx
  src/components/FilterBar.tsx
  src/components/ui/calendar.tsx
  src/hooks/useEventsFiltering.ts
  src/lib/utils.ts
Due: check, format

Update DatePickerWithRange.tsx
  src/components/DatePickerWithRange.tsx
Due: check, format

feat: move clear button
  src/components/Events.tsx
  src/components/FilterBar.tsx
Due: check, format

chore: update README
  README.md
Due: format

fix: fix isEventInDateRange
  src/api/events.ts
Due: check, format

feat: show dateDisplay inside date picker popover for < sm breakpoint
  src/components/DatePickerWithRange.tsx
Due: check, format

chore: update deps
  package.json
  pnpm-lock.yaml
Due: format

feat: optimize event rendering with useDeferredValue
  src/components/Events.tsx
Due: check, format

fix: sort branches
  src/api/sesc/sescBranches.ts
Due: check, format

chore: update astro
  package.json
  pnpm-lock.yaml
Due: format

Path conditions:
  check: any of: *.{js,jsx,ts,tsx,astro}
  format: any of: *.{js,jsx,ts,tsx,astro,css,md,html,json}
